<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favico.png"/>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="main.css"/>
    <style>
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Timestamps</h1>
      <div v-if="newTimestamp.date === ''">
        <button class="big" @click="prepareNewTimestamp">New</button>
      </div>
      <div v-else>
        <button class="big" @click="addTimestamp">Add</button>
        <input class="date-2" v-model="newTimestamp.date" type="number"/>/<input class="date-2" v-model="newTimestamp.month + 1" type="number"/>/<input class="date-4" v-model="newTimestamp.year" type="number"/>
        <input class="date-2" v-model="newTimestamp.hours" type="number"/>:<input class="date-2" v-model="newTimestamp.minutes" type="number"/>
        <button class="big" @click="cancelAddTimestamp">Cancel</button>
      </div>
      <div v-if="timestamps.length">
        <ul>
          <li v-for="t in timestamps">{{ formatTimestamp(t) }}
            <button class="small" @click="deleteTimestamp(t)">Delete</button>
          </li>
        </ul>
        <button class="small" @click="reset">Reset</button>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
