<html>
  <head>
    <link rel="icon" href="favico.png"/>
    <script src="vue.js"></script>
    <style>
      input[type=number] { width: 4em }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Timestamps</h1>
      <button v-on:click="prepareNewTimestamp">New</button>
      <div v-if="newTimestamp.date !== ''">
        <input v-model="newTimestamp.date" type="number" placeholder="DD"/>
        <input v-model="newTimestamp.month" type="number" placeholder="MM"/>
        <input v-model="newTimestamp.year" type="number" placeholder="YYYY"/>
        <input v-model="newTimestamp.hours" type="number" placeholder="hh"/>
        <input v-model="newTimestamp.minutes" type="number" placeholder="mm"/>
        <br/>
        <button v-on:click="addTimestamp">Add</button>
      </div>
      <ul>
        <li v-for="t in timestamps">{{ formatTimestamp(t) }}</li>
      </ul>
      <button v-on:click="reset">Reset</button>
    </div>
    <script src="main.js"></script>
  </body>
</html>
