.date-2 { width: 1.5em; }

.date-4 { width: 3em; }

body * {
  font-size: 20px;
  font-family: sans-serif;
}


button {
  border: 1px solid white;
  background: #32f;
  color: white;
}

button.big {
  width: 100px;
  height: 100px;
}

button.small {
  width: 80px;
  height: 30px;
}
